
.cell {
    border-top:  1px solid #121212; 
    border-bottom:  1px solid #121212; 
    border-right:  1px solid #121212; 
    border-left:  1px solid #121212; 
}

.filled {
    background-color: #121212;
    border-top:  1px solid #121212; 
    border-bottom:  1px solid #121212; 
    border-right:  1px solid #121212; 
    border-left:  1px solid #121212; 
}